In [14]:
import pandas as pd

elecciones = pd.read_csv('elecciones.csv')
armas = pd.read_csv('gun.csv')

In [15]:
elecciones

       state  year       party   votes
0    ALABAMA  1976    DEMOCRAT  659170
1    ALABAMA  1980  REPUBLICAN  654192
2    ALABAMA  1984  REPUBLICAN  872849
3    ALABAMA  1988  REPUBLICAN  815576
4    ALABAMA  1992  REPUBLICAN  804283
..       ...   ...         ...     ...
607  WYOMING  2004  REPUBLICAN  167629
608  WYOMING  2008  REPUBLICAN  164958
609  WYOMING  2012  REPUBLICAN  170962
610  WYOMING  2016  REPUBLICAN  174419
611  WYOMING  2020  REPUBLICAN  193559

[612 rows x 4 columns]

In [16]:
armas = armas.sort_values("date")
armas

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239579,1081805,2018-03-31,Illinois,Dekalb,1300 block of N Annie Glidden Rd,1,0,http://www.gunviolencearchive.org/incident/108...,https://chicago.suntimes.com/news/woman-wounde...,False,...,0::26,0::Adult 18+,0::Female,NaN,NaN,0::Killed,0::Victim,https://chicago.suntimes.com/news/woman-wounde...,NaN,NaN
239578,1083060,2018-03-31,South Carolina,Loris,Everette Rose Ln,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.myrtlebeachonline.com/news/local/cr...,False,...,0::58,0::Adult 18+,0::Male,NaN,NaN,0::Injured||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.myrtlebeachonline.com/news/local/cr...,55.0,28.0
239577,1081807,2018-03-31,Michigan,Lansing,S Martin Luther King Jr Blvd and Mary Ave,0,1,http://www.gunviolencearchive.org/incident/108...,https://www.lansingstatejournal.com/story/news...,False,...,0::25,0::Adult 18+,0::Male,0::Michael Magik Jones,NaN,"0::Injured, Arrested",0::Subject-Suspect,https://www.lansingstatejournal.com/story/news...,NaN,NaN
239592,1082550,2018-03-31,Massachusetts,Lynn,498 Essex St,0,0,http://www.gunviolencearchive.org/incident/108...,https://www.itemlive.com/2018/04/01/police-log...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.itemlive.com/2018/04/01/police-log...,92.0,22.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [17]:
armas["electoral_year"] = ""
armas.loc[armas["date"] <= "2016-09-08", "electoral_year"] = 2012
armas.loc[armas["date"] > "2016-09-08", "electoral_year"] = 2016
armas

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,electoral_year
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,2012
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0,2012
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0,2012
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0,2012
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239579,1081805,2018-03-31,Illinois,Dekalb,1300 block of N Annie Glidden Rd,1,0,http://www.gunviolencearchive.org/incident/108...,https://chicago.suntimes.com/news/woman-wounde...,False,...,0::Adult 18+,0::Female,NaN,NaN,0::Killed,0::Victim,https://chicago.suntimes.com/news/woman-wounde...,NaN,NaN,2016
239578,1083060,2018-03-31,South Carolina,Loris,Everette Rose Ln,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.myrtlebeachonline.com/news/local/cr...,False,...,0::Adult 18+,0::Male,NaN,NaN,0::Injured||1::Unharmed,0::Victim||1::Subject-Suspect,http://www.myrtlebeachonline.com/news/local/cr...,55.0,28.0,2016
239577,1081807,2018-03-31,Michigan,Lansing,S Martin Luther King Jr Blvd and Mary Ave,0,1,http://www.gunviolencearchive.org/incident/108...,https://www.lansingstatejournal.com/story/news...,False,...,0::Adult 18+,0::Male,0::Michael Magik Jones,NaN,"0::Injured, Arrested",0::Subject-Suspect,https://www.lansingstatejournal.com/story/news...,NaN,NaN,2016
239592,1082550,2018-03-31,Massachusetts,Lynn,498 Essex St,0,0,http://www.gunviolencearchive.org/incident/108...,https://www.itemlive.com/2018/04/01/police-log...,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.itemlive.com/2018/04/01/police-log...,92.0,22.0,2016
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0,2016

In [18]:
def year(x):
    return x[:4]
armas = armas[["date", "state","n_killed", "n_injured", "electoral_year"]]
print(armas.isna().sum())
armas["date"] = armas["date"].apply(year)
armas_year = armas.rename(columns={"date":"year"})
elecciones = elecciones.rename(columns={"year":"electoral_year"})
armas_year

date              0
state             0
n_killed          0
n_injured         0
electoral_year    0
dtype: int64

<ipython-input-18-beac1d99d4f7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armas["date"] = armas["date"].apply(year)

        year           state  n_killed  n_injured electoral_year
0       2013    Pennsylvania         0          4           2012
1       2013      California         1          3           2012
2       2013            Ohio         1          3           2012
3       2013        Colorado         4          0           2012
4       2013  North Carolina         2          2           2012
...      ...             ...       ...        ...            ...
239579  2018        Illinois         1          0           2016
239578  2018  South Carolina         0          1           2016
239577  2018        Michigan         0          1           2016
239592  2018   Massachusetts         0          0           2016
239676  2018           Maine         2          0           2016

[239677 rows x 5 columns]

In [19]:
armas_year.columns
armas_year

        year           state  n_killed  n_injured electoral_year
0       2013    Pennsylvania         0          4           2012
1       2013      California         1          3           2012
2       2013            Ohio         1          3           2012
3       2013        Colorado         4          0           2012
4       2013  North Carolina         2          2           2012
...      ...             ...       ...        ...            ...
239579  2018        Illinois         1          0           2016
239578  2018  South Carolina         0          1           2016
239577  2018        Michigan         0          1           2016
239592  2018   Massachusetts         0          0           2016
239676  2018           Maine         2          0           2016

[239677 rows x 5 columns]

In [20]:
armas_year_grouped = armas_year.groupby(["state", "electoral_year"]).n_injured.agg("count").reset_index()
armas_year_grouped

             state  electoral_year  n_injured
0          Alabama            2012       3215
1          Alabama            2016       2256
2           Alaska            2012        852
3           Alaska            2016        497
4          Arizona            2012       1419
..             ...             ...        ...
97   West Virginia            2016        620
98       Wisconsin            2012       2781
99       Wisconsin            2016       2006
100        Wyoming            2012        343
101        Wyoming            2016        151

[102 rows x 3 columns]

In [21]:
def low(x):
    return  x.lower()

armas_year_grouped["state"] = armas_year_grouped["state"].apply(low)
elecciones["state"] = elecciones["state"].apply(low)
#armas_year_grouped = armas_year_grouped.astype({"year": int}, errors='raise')
armas_year_grouped

             state  electoral_year  n_injured
0          alabama            2012       3215
1          alabama            2016       2256
2           alaska            2012        852
3           alaska            2016        497
4          arizona            2012       1419
..             ...             ...        ...
97   west virginia            2016        620
98       wisconsin            2012       2781
99       wisconsin            2016       2006
100        wyoming            2012        343
101        wyoming            2016        151

[102 rows x 3 columns]

In [22]:
print(armas_year_grouped.electoral_year.unique())
print(elecciones.electoral_year.unique())

[2012 2016]
[1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020]

In [23]:
elecciones

       state  electoral_year       party   votes
0    alabama            1976    DEMOCRAT  659170
1    alabama            1980  REPUBLICAN  654192
2    alabama            1984  REPUBLICAN  872849
3    alabama            1988  REPUBLICAN  815576
4    alabama            1992  REPUBLICAN  804283
..       ...             ...         ...     ...
607  wyoming            2004  REPUBLICAN  167629
608  wyoming            2008  REPUBLICAN  164958
609  wyoming            2012  REPUBLICAN  170962
610  wyoming            2016  REPUBLICAN  174419
611  wyoming            2020  REPUBLICAN  193559

[612 rows x 4 columns]

In [24]:
combined = pd.merge(armas_year_grouped, elecciones)

In [25]:
combined

             state  electoral_year  n_injured       party    votes
0          alabama            2012       3215  REPUBLICAN  1255925
1          alabama            2016       2256  REPUBLICAN  1318255
2           alaska            2012        852  REPUBLICAN   164676
3           alaska            2016        497  REPUBLICAN   163387
4          arizona            2012       1419  REPUBLICAN  1233654
..             ...             ...        ...         ...      ...
97   west virginia            2016        620  REPUBLICAN   489371
98       wisconsin            2012       2781    DEMOCRAT  1620985
99       wisconsin            2016       2006  REPUBLICAN  1405284
100        wyoming            2012        343  REPUBLICAN   170962
101        wyoming            2016        151  REPUBLICAN   174419

[102 rows x 5 columns]

In [26]:
combined = combined.rename(columns={"n_injured":"incidents"})
combined

             state  electoral_year  incidents       party    votes
0          alabama            2012       3215  REPUBLICAN  1255925
1          alabama            2016       2256  REPUBLICAN  1318255
2           alaska            2012        852  REPUBLICAN   164676
3           alaska            2016        497  REPUBLICAN   163387
4          arizona            2012       1419  REPUBLICAN  1233654
..             ...             ...        ...         ...      ...
97   west virginia            2016        620  REPUBLICAN   489371
98       wisconsin            2012       2781    DEMOCRAT  1620985
99       wisconsin            2016       2006  REPUBLICAN  1405284
100        wyoming            2012        343  REPUBLICAN   170962
101        wyoming            2016        151  REPUBLICAN   174419

[102 rows x 5 columns]

In [27]:
combined.loc[combined["electoral_year"] == 2012, "electoral_year"] = "2012-2016"
combined.loc[combined["electoral_year"] == 2016, "electoral_year"] = "2016-2020"
combined

             state electoral_year  incidents       party    votes
0          alabama      2012-2016       3215  REPUBLICAN  1255925
1          alabama      2016-2020       2256  REPUBLICAN  1318255
2           alaska      2012-2016        852  REPUBLICAN   164676
3           alaska      2016-2020        497  REPUBLICAN   163387
4          arizona      2012-2016       1419  REPUBLICAN  1233654
..             ...            ...        ...         ...      ...
97   west virginia      2016-2020        620  REPUBLICAN   489371
98       wisconsin      2012-2016       2781    DEMOCRAT  1620985
99       wisconsin      2016-2020       2006  REPUBLICAN  1405284
100        wyoming      2012-2016        343  REPUBLICAN   170962
101        wyoming      2016-2020        151  REPUBLICAN   174419

[102 rows x 5 columns]

In [28]:
combined.loc[combined["electoral_year"] == "2012-2016", "incidents"] /=3 
combined.loc[combined["electoral_year"] == "2016-2020", "incidents"] /=2

In [29]:
combined.to_csv("partidos_violencia_alternativo.csv", index=False)

In [30]:
combined

             state electoral_year    incidents       party    votes
0          alabama      2012-2016  1071.666667  REPUBLICAN  1255925
1          alabama      2016-2020  1128.000000  REPUBLICAN  1318255
2           alaska      2012-2016   284.000000  REPUBLICAN   164676
3           alaska      2016-2020   248.500000  REPUBLICAN   163387
4          arizona      2012-2016   473.000000  REPUBLICAN  1233654
..             ...            ...          ...         ...      ...
97   west virginia      2016-2020   310.000000  REPUBLICAN   489371
98       wisconsin      2012-2016   927.000000    DEMOCRAT  1620985
99       wisconsin      2016-2020  1003.000000  REPUBLICAN  1405284
100        wyoming      2012-2016   114.333333  REPUBLICAN   170962
101        wyoming      2016-2020    75.500000  REPUBLICAN   174419

[102 rows x 5 columns]